.main {
  height: 50px;
  display: flex;
  border-bottom: 2px solid palegoldenrod;
  background-color: #dee1e6;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.subComponent1 {
    display: flex;
    width: 15%;
    align-items: center;
    padding-left: 5px;
}
.subComponent2 {
    display: flex;
    width: 85%;
    /* background-color: brown; */
    align-items: center;
}
.subComponent2 > button {
  border: none;
  background-color: transparent;
  height: 100%;
  margin-right: 3px;
}
.subComponent2 > button:focus {
  border-bottom: 2px solid brown;
}
.imgSrc {
  width: 70px;
  height: 20px;
  padding-left: 10px;
}